<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Identity</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <ul class="side-menu">
        <li>
          {{#link-to 'index'}}Dashboard{{/link-to}}
        </li>
        <li>
          {{#link-to 'settings'}}Settings{{/link-to}}
        </li>
        <li>
          {{#link-to 'profile'}}Profile{{/link-to}}
        </li>
      </ul>
    </div>
    <div class="col-lg-9">
      {{outlet}}
    </div>
  </div>
</div>


